// 릴리즈 설정 파일 예시
//
// 1. 새로운 값 추가하기
//   아래에 Key=Value 형태로 입력
//
// 2. 특정 프로젝트의 특정 스킴에서 해당 값 로드하기
//   `tuist edit`에서, InfoPlist에 아래와 같이 추가하기
//     [...,
//      "Key": "$(Key)"
//      ...]

// 카카오 네이티브 앱 아이디와 키
KAKAO_APP_ID=YOUR_APP_ID
KAKAO_APP_KEY=YOUR_KAKAO_APP_KEY
